<!-- Views/Game/Index.cshtml -->
@model GameBoard

<table>
    @for (int row = 0; row < 3; row++)
    {
        <tr>
            @for (int col = 0; col < 3; col++)
            {
                <td>
                    @if (Model.Board[row, col] == '\0')
                    {
                        <a href="@Url.Action("MakeMove", "Game", new { row, col })">
                            &nbsp;
                        </a>
                    }
                    else
                    {
                        @Model.Board[row, col]
                    }
                </td>
            }
        </tr>
    }
</table>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
}
